body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }

body{
  font-family: 'TruenoRegular';
  font-weight: normal;
  font-style: normal;
  padding: 50px;
  color: #06455d;

}

.col-md {
  padding:5px;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  padding: 25px;
}

.card:hover{
     transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card a:link {
    text-decoration: none;
  }


.card-icon {font-size: 5em; color: #05688e;}

.align-left {
    text-align: left;
}
  
.push-right {
  float: right;
}

a.anchor {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

h1{
  font-size: 4rem;
  font-weight: bold;
  padding-top: 1em;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  color: #06455d;
}

a, p {
  color: #06455d;
}